/* .home */

.home header{
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  background-image:linear-gradient(rgb(152, 255, 157),rgb(126, 255, 133))!important;
}
.home header h1 {
  font-weight: bold;
}
.home header > a {
  margin: 0 auto;
}
.home main {
  margin-top: 200px;
}
.home section:not(:first-of-type) {
  margin-top: 200px;
}
.home .d-flex {
  padding: 0 auto;
}
.home .d-flex .image{
  max-width: 400px;
}
.home ul {
  margin: 0 auto;
  max-width: 1000px;
  list-style: none;
}

.home section > .d-flex:nth-child(even){
  flex-direction: row-reverse;
}
.home section > .d-flex:not(:first-of-type){
  margin-top: 100px;
}
/* .home :end */

/* .in :start */

/* LOGIN */
.login 
.login main {
  padding: 0 20px;
  word-break: normal;
  background: black;
  color: white;
}
.login > main > form > input {
  background-color: #333;
  border-radius: 2px;
  border: none;
  margin: 20px auto;
  width: 75%;
  color: white;
}
.login > main > form > button {
  color: white;
  background-color: red;
  border-radius: 2px;
  border: none;
  padding: 20px;
  display: block;
  width: 75%;
  font-size: 20px;
  cursor: pointer;
}
/* .in :end */